<footer class="center">
  <div class="footer-info">
    <img src="/images/logo.png" class="footer-logo" alt="Floodgate Academy Logo">
    <p class="footer-blurb">Send us an email at hello@fga.io</p>
    <a href="https://github.com/floodgateacademy"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/wearefgacademy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://facebook.com/floodgateacademy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <p class="copyright">&copy;2016 Floodgate Academy Inc. All rights reserved.</p>
  </div>
</footer>

