<footer class="center">
  <div class="footer-info">
    <img src="/images/logo.png" class="footer-logo" alt="Floodgate Academy Logo">
    <p class="footer-blurb">Send us an email at <a href="mailto:hello@fga.io" class="email-address">hello@fga.io</a>
    <p class="footer-heading">Connect with us on social media</p>
    <div class="social-links">

      <a href="https://github.com/floodgateacademy" rel="noopener noreferrer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://twitter.com/wearefgacademy" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://facebook.com/floodgateacademy" rel="noopener noreferrer" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <p class="copyright">&copy;2016 Floodgate Academy Inc. All rights reserved.</p>
  </div>
</footer>

