<footer class="center">
  <div class="footer-info">
    <img src="/images/logo.png" class="footer-logo" alt="Floodgate Academy Logo">
    <p class="footer-blurb">Send us an email at <a href="mailto:hello@fga.io" class="email-address">hello@fga.io</a></p>
    <p class="footer-heading">Connect with us on social media</p>
    <div class="social-links">

      <a href="https://github.com/floodgateacademy" rel="noopener noreferrer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://twitter.com/wearefga" rel="noopener noreferrer" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://facebook.com/floodgateacademy" rel="noopener noreferrer" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="non-profit">
      <p>Floodgate Academy (EIN 47-5117086) is a tax-exempt public charity under Section 501(c)(3) of the Internal Revenue Code.</p>
      <p>Contributions to Floodgate Academy are tax deductible to the extent provided by law.</p>
    </div>
    <p class="copyright">&copy;2017 Floodgate Academy Inc. All rights reserved.</p>
  </div>
</footer>

