<header class="white-header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="./images/color-logo.png" class="logo" alt="Floodgate Academy Logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about.html" class="nav-link blue">About FGA</a></li>
          <li><a href="/apply.html" class="nav-link blue">Apply</a></li>
          <li><a href="/curriculum.html" class="nav-link blue">Curriculum</a></li>
          <!--<li><a href="/blog" class="nav-link blue">Blog</a></li>-->
          <li><a href="https://www.classy.org/checkout/donation?eid=82349" role="button" target="_blank" rel="noopener noreferrer" class="donate-btn__dkblue">Donate</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </nav>
</header>
