// Colors
$dark-blue: #1C354E;
$med-blue: #33a6cc;
$light-blue: #EBF8FF;
$white: #fefefe;
$black: #292929;

// Font Family
$gotham-bold: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gotham-book: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;

