.masthead {
  width: 100%;
  height: auto;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(28, 53, 78, 0.9),
        rgba(28, 53, 78, 0.9)
      ),
      /* bottom, image */
      url(/images/homebg.jpg);
}

/* Navigation */

.logo, .footer-logo{
  max-width: 220px;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  padding-bottom: 20px;
  // bootstrap override
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-home {
  box-shadow: none;
}

.nav-link {
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.65px;
  line-height: 14px;
  border-bottom: 3px solid transparent;
  // margin-right: 10px;
  transition: color .2s;
}

.blue {
  color: $dark-blue;
}

/* Bootstrap override */
.nav>li>a:hover {
  background-color: transparent;
}

.nav-link:hover {
    text-decoration: none;
    color: $med-blue;
}

.donate-btn__white {
  padding: 10px 25px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $white;
  letter-spacing: 0.65px;
  line-height: 14px;
  margin-left: 20px;
  border: 2px solid $white;
  &:hover, &:visited {
    color: $white;
  }
}

.donate-btn__dkblue {
  padding: 10px 25px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: $dark-blue;
  letter-spacing: 0.65px;
  line-height: 14px;
  margin-left: 20px;
  border: 2px solid $dark-blue;
  &:hover, &:visited{
    color: $dark-blue;
  }
}

/* Home */

h2.cta-text {
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: $white;
  letter-spacing: 0px;
}

p.cta-caption {
  font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: $white;
  letter-spacing: 0px;
}

.apply-btn {
  /* Rectangle 5: */
  background: $white;
  border-radius: 2px;
  color: $dark-blue;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
}

.apply-btn:hover {
  text-decoration: none;
}

h2.about-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  color: $dark-blue;
  text-transform: uppercase;
}

.about-blurb p {
  font-size: 18px;
  font-family: $gotham-book;
  color: $dark-blue;
  line-height: 24px;
}

.about-btn {
  background: $dark-blue;
  border-radius: 2px;
  color: $white;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    text-decoration: none;
    color: $white;
  }
}

.advantage {
  background-color: $light-blue;
}

h2.mktng-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  color: $dark-blue;
  text-transform: uppercase;
}

h3.usp-heading {
  font-family: $gotham-bold;
  font-size: 18px;
  color: $dark-blue;
  text-transform: uppercase;
}

p.usp-text {
  font-family: $gotham-book;
  font-size: 14px;
  color: $dark-blue;
  line-height: 18px;
}

.overview {
  width: 100%;
  height: auto;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(28, 53, 78, 0.9),
        rgba(28, 53, 78, 0.9)
      ),
      /* bottom, image */
      url(/images/overviewbg.jpg);
  color: $white;
}

h2.program-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  text-transform: uppercase;
}

p.program-blurb {
  font-family: $gotham-book;
  font-size: 14px;
  line-height: 18px;
}

h3.timeline-heading {
  font-size: 18px;
  font-family: $gotham-bold;
}

p.time-text{
  font-family: $gotham-book;
  font-size: 14px;
}

.curriculum-btn {
  /* Rectangle 5: */
  background: $white;
  border-radius: 2px;
  color: $dark-blue;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    text-decoration: none;
    color: $dark-blue;
  }
}

.email-blurb {
  font-family: $gotham-bold;
  font-size: 24px;
  color: $dark-blue;
}

.email-field {
  font-family:'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* Rectangle 2: */
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 0;
  text-align: center;
  padding: 13px 115px 12px 115px;
}
.email-btn {
  padding: 8px 20px 10px 20px;
  border: 0 none;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: $gotham-book;
  font-size: 14px;
  color: #163D60;
  letter-spacing: 1.21px;
  line-height: 18px;
  margin-bottom: 10px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn-primary {
  background: $dark-blue;
  color: $white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: $dark-blue;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/* About */
section.intro {
  padding: 50px 0;
  width: 100%;
  height: auto;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(28, 53, 78, 0.9),
        rgba(28, 53, 78, 0.9)
      ),
      /* bottom, image */
      url(/images/homebg.jpg);
  h2.about-heading {
    color: $white;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .intro-text {
    color: $white;
    font-family: $gotham-book;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .about-picture {
    margin: 80px auto;
  }
}

section.team {
  h2.about-heading {
    color: $dark-blue;
    margin-bottom: 20px;
  }
  p.team-blurb {
    color: $dark-blue;
    font-family: $gotham-book;
    margin-bottom: 50px;
    line-height: 22px;
    font-size: 18px;
  }
  .profile-wrapper {
    text-align: center;
    color: $dark-blue;
    img.profile-picture {
      margin-bottom: 10px;
      height: 220px;
      width: auto;
    }
    h4.profile-name {
      font-family: $gotham-bold;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    h5.profile-role {
      font-family: $gotham-book;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 10px;
    }
    p.profile-credentials {
      font-family: $gotham-book;
      font-size: 11px;
      margin-bottom: 50px;
    }
  }
  h3.advisor-heading {
    font-family: $gotham-bold;
    font-size: 24px;
    color: $dark-blue;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

section.faq {
  padding: 50px 0;
  .questions-wrapper {
    background-color: $light-blue;
    padding: 50px 0;
  }
  
  h2.faq-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 36px;
    font-family: $gotham-bold;
  }
  
  .faq-questions {
    color: $dark-blue;
    font-size: 18px;
    font-family: $gotham-book;
  }
  
  ul.question-list {
    line-height: 36px;
  }
  
  .answers-wrapper {
    padding: 50px 0;
    color: $dark-blue;
    p.question {
      font-size: 18px;
      font-family: $gotham-bold;
      margin-bottom: 30px;
    }
    p.answer {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
      font-family: $gotham-book;
    }
  }
}

/* Apply */
section.apply-intro {
  padding: 50px 0;
  p.apply-intro-text {
    font-family: $gotham-book;
    color: $dark-blue;
    font-size: 24px;
    line-height: 28px;
    &:last-of-type {
      margin-top: 15px;
    }
  }
}
.application-info {
  padding: 50px 0;
  background-color: $light-blue;
  color: $dark-blue;
  font-family: $gotham-book;
}
h2.apply-heading {
    font-size: 24px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
.apply-subheading {
  font-family: $gotham-bold;
  margin-bottom: 10px;
}

.apply-button {
  margin: 70px 0 20px 0;
}

.character-list {
  margin-bottom: 20px;
}

.apply-task {
  margin-bottom: 20px;
}

.interview-info {
  padding: 50px 0;
  color: $dark-blue;
  font-family: $gotham-book;
}

.curriculum-intro {
  background-color: $dark-blue;
  padding: 50px 0;
  color: $white;
  font-family: $gotham-book;
  .curriculum-intro-text {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  } 
}

.methodology {
  padding: 50px 0;
  color: $dark-blue;
  h2.curriculum-heading {
    font-size: 24px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .method-text {
    font-family: $gotham-book;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
  }
  .method-heading {
    font-size: 18px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .method-blurb {
    font-family: $gotham-book;
    font-size: 14px;
    line-height: 16px;
  }
}

.topics {
  padding: 50px 0;
  background-color: $dark-blue;
  color: $white;
  h2.topic-heading {
    font-size: 24px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .topic-text {
    font-family: $gotham-bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .topics-list li {
    font-size: 14px;
    font-family: $gotham-book;
    margin-bottom: 10px;
  }
  .method-blurb {
    font-family: $gotham-book;
    font-size: 14px;
    line-height: 16px;
  }
}

.technology {
  padding: 50px 0;
  color: $dark-blue;
  h2.tech-heading {
    font-size: 24px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

.logos-wrapper {
  text-align: center;
  margin-bottom: 40px;
  .tech-logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
}

.last {
  margin-bottom: 0px;
}

.outcomes {
  padding: 50px 0;
  background-color: $light-blue;
  color: $dark-blue;
  h2.outcomes-heading {
    font-size: 24px;
    font-family: $gotham-bold;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  p.outcome-text {
    font-family: $gotham-bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .outcome-list li {
    font-size: 14px;
    font-family: $gotham-book;
    margin-bottom: 10px;
  }
  .method-blurb {
    font-family: $gotham-book;
    font-size: 14px;
    line-height: 16px;
  }
}



/* Footer */

footer{
  background-color: $dark-blue;
  color: $white;
  .footer-info{
    font-family: $gotham-book;
  }
  .footer-heading {
    font-family: $gotham-bold;
    font-size: 13px;
  }
  .email-address {
    font-family: $gotham-bold;
    letter-spacing: 0.36px;
    color: $white;
    &:hover, &:visited {
      color: $med-blue;
      text-decoration: none;
    }
  }

  .social-links a {
    color: $white;
    &:hover{
      color: $med-blue;
      text-decoration: none;
    }
  }
  .copyright {
    font-size: 11px;
  }
}
