.masthead {
  width: 100%;
  height: auto;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(28, 53, 78, 0.9),
        rgba(28, 53, 78, 0.9)
      ),
      /* bottom, image */
      url(/images/homebg.jpg);
}

.logo, .footer-logo{
  max-width: 220px;
}

.nav-link {
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.65px;
  line-height: 14px;
  border-bottom: 3px solid transparent;
  // margin-right: 10px;
  transition: color .2s;
}

/* Bootstrap override */
.nav>li>a:hover {
  background-color: transparent;
}

.nav-link:hover {
    text-decoration: none;
    color: $med-blue;
}

.donate-btn {
  padding: 10px 25px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:$white;
  letter-spacing: 0.65px;
  line-height: 14px;
  margin-left: 20px;
  border: 2px solid $light-blue;
}

.donate-btn:hover {
  color: $white;
}

h2.cta-text {
  font-family: 'Gotham-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: $white;
  letter-spacing: 0px;
}

p.cta-caption {
  font-family: 'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: $white;
  letter-spacing: 0px;
}

.apply-btn {
  /* Rectangle 5: */
  background: $white;
  border-radius: 2px;
  color: $dark-blue;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
}

.apply-btn:hover {
  text-decoration: none;
}

h2.about-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  color: $dark-blue;
  text-transform: uppercase;
}

.about-blurb p {
  font-size: 18px;
  font-family: $gotham-book;
  color: $dark-blue;
  line-height: 24px;
}

.about-btn {
  background: $dark-blue;
  border-radius: 2px;
  color: $white;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    text-decoration: none;
    color: $white;
  }
}

.advantage {
  background-color: $light-blue;
}

h2.mktng-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  color: $dark-blue;
  text-transform: uppercase;
}

h3.usp-heading {
  font-family: $gotham-bold;
  font-size: 18px;
  color: $dark-blue;
  text-transform: uppercase;
}

p.usp-text {
  font-family: $gotham-book;
  font-size: 14px;
  color: $dark-blue;
  line-height: 18px;
}

.overview {
  width: 100%;
  height: auto;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(28, 53, 78, 0.9),
        rgba(28, 53, 78, 0.9)
      ),
      /* bottom, image */
      url(/images/overviewbg.jpg);
  color: $white;
}

h2.program-heading {
  font-family: $gotham-bold;
  font-size: 36px;
  text-transform: uppercase;
}

p.program-blurb {
  font-family: $gotham-book;
  font-size: 14px;
  line-height: 18px;
}

h3.timeline-heading {
  font-size: 18px;
  font-family: $gotham-bold;
}

p.time-text{
  font-family: $gotham-book;
  font-size: 14px;
}

.curriculum-btn {
  /* Rectangle 5: */
  background: $white;
  border-radius: 2px;
  color: $dark-blue;
  padding: 15px 30px;
  font-family: $gotham-bold;
  text-transform: uppercase;
  font-size: 14px;
  &:hover{
    text-decoration: none;
    color: $dark-blue;
  }
}

.email-blurb {
  font-family: $gotham-bold;
  font-size: 24px;
}

.email-field {
  font-family:'Gotham-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* Rectangle 2: */
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 0;
  text-align: center;
  padding: 13px 115px 12px 115px;
}
.email-btn {
  padding: 8px 20px 10px 20px;
  border: 0 none;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: $gotham-book;
  font-size: 14px;
  color: #163D60;
  letter-spacing: 1.21px;
  line-height: 18px;
  margin-bottom: 10px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
.btn-primary {
  background: $dark-blue;
  color: $white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: $dark-blue;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

footer{
  background-color: $dark-blue;
  color: $white;
  .footer-info{
    font-family: $gotham-book;
  }
  .footer-heading {
    font-family: $gotham-bold;
    font-size: 18px;
  }
  .email-address {
    font-family: $gotham-bold;
    letter-spacing: 0.36px;
    color: $white;
    &:hover, &:visited {
      color: $med-blue;
      text-decoration: none;
    }
  }

  .social-links a {
    color: $white;
    &:hover{
      color: $med-blue;
      text-decoration: none;
    }
  }
  .copyright {
    font-size: 11px;
  }
}
