.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.masthead {
  min-height: 570px;
}

.logo {
  margin-top: 10px;
  margin-left: 30px;
}

.navbar-right {
  padding-top: 20px;
  padding-right: 20px;
}

.cta {
  margin-top: 115px;
}

.cta-caption {
  margin-top: 80px;
}

.apply {
  margin-top: 80px;
}

h2.about-heading {
  margin-top: 70px;
}

.about-blurb p {
  margin-top: 40px;
  &:last-of-type{
    margin-top: 20px;
  }
}

.learn {
  margin: 70px 0;
}

.advantage {
  padding: 70px 0;
}

h2.mktng-heading {
  margin-bottom: 40px;
}

h3.usp-heading {
  margin-bottom: 15px;
}

.mktng .row:first-of-type {
  margin-bottom: 40px;
}

.overview {
  padding: 70px 0;
}

h2.program-heading {
  margin-bottom: 40px;
}

.timeline {
  margin: 70px 0;
}

h3.timeline-heading {
  margin-bottom: 15px;
}

.email {
  padding: 70px 0;
}

p.email-blurb {
  margin-bottom: 25px;
}


