.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.masthead {
  min-height: 570px;
}

.logo {
  margin-top: 5px;
}

.navbar-right {
  padding-top: 20px;
}

.cta {
  margin-top: 115px;
}

.cta-caption {
  margin-top: 80px;
}

.apply {
  margin-top: 80px;
}

h2.about-heading {
  margin-top: 70px;
}

.about-blurb p {
  margin-top: 40px;
  &:last-of-type{
    margin-top: 20px;
  }
}

.learn {
  margin: 70px 0;
}

.advantage {
  padding: 70px 0;
}

h2.mktng-heading {
  margin-bottom: 40px;
}

h3.usp-heading {
  margin-bottom: 15px;
}

.mktng .row:first-of-type {
  margin-bottom: 40px;
}

.overview {
  padding: 70px 0;
}

h2.program-heading {
  margin-bottom: 40px;
}

.timeline {
  margin: 70px 0;
}

h3.timeline-heading {
  margin-bottom: 15px;
}

.email {
  padding: 70px 0;
}

p.email-blurb {
  margin-bottom: 25px;
}

.footer-logo {
  margin-bottom: 30px;
}
.footer-info {
  padding: 40px 0 30px 0;
  .footer-heading {
    margin-top: 40px;
  }
}

.social-links {
  margin-top: 10px;
  a {
    padding-right: 70px;
    &:last-of-type {
      padding-right: 0;
    }
  }
}

.non-profit {
  margin-top: 20px;
}

.copyright {
  margin-top: 20px;
}
