@font-face {
  font-family:'Gotham-Bold';
  src: url('../fonts/Gotham-Bold_gdi.eot');
  src: url('../fonts/Gotham-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Bold_gdi.woff') format('woff'),
    url('../fonts/Gotham-Bold_gdi.ttf') format('truetype'),
    url('../fonts/Gotham-Bold_gdi.svg#Gotham-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}

@font-face {
  font-family:'Gotham-Book';
  src: url('../fonts/Gotham-Book_gdi.eot');
  src: url('../fonts/Gotham-Book_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book_gdi.woff') format('woff'),
    url('../fonts/Gotham-Book_gdi.ttf') format('truetype'),
    url('../fonts/Gotham-Book_gdi.svg#Gotham-Book') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2248;
}
