<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>

</html>
